.stay-content{
    padding: 2em 0;
    text-align: start;
}

.stay-content img{
    width: 100%;
    padding-bottom: 2.5em;
}

.stay-link{
    display: flex;
    gap: .5em;
    align-items: center;
    padding: .5em 0;
    line-height: 3em;
    position: relative;
}

.link{
    color: var(--Cyan);
    text-decoration: none;
}

.icon{
    width: 25px;
    height: 25px;
    display: inline-flex;
    background: url("../images/icon-arrow.svg")no-repeat;
    background-size: contain;
}

@media screen and (min-width:768px) {
    .stay-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 3em;
    }
}

@media screen and (min-width:1024px) {
    .stay-content{
        width: 90%;
        margin: 0 auto;
    }
}